.feature-desc {
    padding-bottom: 25px;
    p {
        text-align: justify;
    }
}

footer {
    padding: 20px 0;
}

footer ul {
    list-style: none;
    padding: 0 0 15px 0;
    margin: 0;
}

footer ul li {
    display: inline-block;
    padding-right: 7px;
}