<div class="diagram mb-3">
    <div class="row no-gutters">
        <div class="col-12 col-sm-8">
            <app-box title="Extensions" class=" h-100 mr-0"  border="dashed">
                <div class="row mt-2">
                    <div class="col">
                        <app-box title="Bootstrap" subtitle="@js-sugar/angular-bootstrap"></app-box>
                    </div>
                    <div class="col">
                        <app-box title="Material" subtitle="@js-sugar/angular-material"></app-box>
                    </div>
                </div>
            </app-box>
        </div>

        <div class="col-12 col-sm-4">
            <app-box title="Local Packages" border="dashed">
                <div class="row">
                    <div class="col-12">
                        <app-box class="box-header" title="en-US" subtitle="@js-sugar/angular-bootstrap"></app-box>
                    </div>

                    <div class="col-12 mt-3">
                        <app-box class="box-header" title="Bootstrap" subtitle="@js-sugar/angular-bootstrap"></app-box>
                    </div>
                </div>
            </app-box>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <app-box title="JS-Sugar Core" subtitle="@js-sugar/angular" border="dashed">
                <div class="d-flex flex-row flex-wrap mt-2">

                    <app-box title="Multi-Calendar DateTime"></app-box>
                    <app-box title="Validation"></app-box>
                    <app-box title="Localization"></app-box>
                    <app-box title="Security"></app-box>
                    <app-box title="Animation Helpers"></app-box>
                    <app-box title="Components"></app-box>
                    <app-box title="Responsiveness"></app-box>
                </div>
            </app-box>
        </div>
    </div>
</div>
<h5 class="text-secondary text-center">JS-Sugar for Angular</h5>