<div class="row g-2">
    <div class="col-12 col-sm-8">
        <div id="bootstrap-components-box" class="box h-100">
            <h6>Bootstrap Components</h6>

            <div class="">
                <a *ngFor="let item of bootstrapComponents" [routerLink]="['docs/bootkit/components', item.url]"
                   class="badge text-bg-secondary">
                    {{item.name}}
                </a>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-4">
        <div class="box h-100">
            <h6>Local Packages</h6>
            <a class="badge text-bg-light w-100 text-start">&#64;bootkit/local-en-us</a>
            <a class="badge text-bg-light w-100 text-start">&#64;bootkit/local-ar-ae</a>
        </div>
    </div>

    <div class="col-12">
        <div id="infra-box" class="box">
            <h6>UI Infrastructure (Angular)</h6>
            <div class="d-flex flex-row flex-wrap mt-2">
                <a *ngFor="let item of uiInfra" [routerLink]="[ ]"
                   class="badge text-bg-secondary">
                    {{item.title}}
                </a>
            </div>
        </div>

    </div>
</div>

<h5 class="text-secondary text-center mt-3">
    BootKit:
    <span class="ms-2">Angular</span>+<span>Bootstrap</span> mixture.
</h5>